@page "/articulos"
@attribute [Authorize]
@rendermode InteractiveServer

@using OptiSoftBlazor.Shared.Data
@using OptiSoftBlazor.Shared.Pages.Optica.Shared
@using OptiSoftBlazor.Shared.Pages.Shared

@inject ArticuloService ArticuloService
@inject IJSRuntime JS

<PageTitle>Artículos</PageTitle>

<LoadingSpinner @bind-Visible="IsLoading" />

@if (!IsFirstRender)
{
    <div class="nueva-fila">
        <FluentButton Appearance="Appearance.Accent" OnClick="@AddArticulo" IconStart="@(new Icons.Filled.Size20.AddCircle())">Nuevo</FluentButton>
    </div>
}

@if (!(ListArt == null))
{
    <FluentCard AreaRestricted="false" Class="data-grid-table" Style="max-height: 80vh; padding: 0.5em;">
        <FluentDataGrid Items="ListArt"
                        TGridItem="Articulo"
                        Pagination="@pagination"
                        AutoFit="true"
                        ShowHover="true"
                        DisplayMode="DataGridDisplayMode.Table"
                        OnRowClick="@(args => OnRowClicked(args?.Item ?? new Articulo()))">
            <PropertyColumn Property="art => art.Codigo" Title="Código" Sortable="true" Align="Align.Center" />
            <PropertyColumn Property="art => art.Nombre" Title="Artículo" Sortable="true" Align="Align.Center" IsDefaultSortColumn />
            <PropertyColumn Property="art => art.Precio2" Title="Precio" Sortable="true" Align="Align.Center" />
        </FluentDataGrid>
        @if (ListArt.Count() > pagination.ItemsPerPage)
        {
            <FluentPaginator State="pagination" Style="padding: 0.5em 2em;" />
        }
    </FluentCard>
}

@if (!Hidden)
{
    <ArticuloViewDiag Hidden="@Hidden"
                      Articulo="@ArticuloSeleccionado"
                      HiddenChanged="@(v => Hidden = v)"
                      OnGuardar="GuardarArticulo"
                      OnEliminar="EliminarArticulo"/>
}

@code{
    PaginationState pagination = new PaginationState { ItemsPerPage = 9 };
    private List<Articulo>? AuxArticulos = new();
    private Articulo? ArticuloSeleccionado;
    private IQueryable<Articulo>? ListArt;
    bool Hidden = true;
    bool IsFirstRender = true;
    private bool IsLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await JS.InvokeVoidAsync("translateFluentLabels");

        try
        {
            IsLoading = true;
            StateHasChanged();
            AuxArticulos = await ArticuloService.ObtenerArticulosAsync();
            ListArt = AuxArticulos.AsQueryable();
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al cargar los datos. {ex.Message}", 5000);
        }
        finally
        {
            IsFirstRender = false;
            IsLoading = false;
            StateHasChanged();
        }
    }

    private void AddArticulo()
    {
        Hidden = false;
        StateHasChanged();
    }

    private async Task OnRowClicked(Articulo articulo)
    {
        if (articulo.IdArticulo <= 0)
            return;

        ArticuloSeleccionado = articulo;
        Hidden = false;
        StateHasChanged();
    }

    private async Task GuardarArticulo(Articulo articulo)
    {
        AuxArticulos = await ArticuloService.ObtenerArticulosAsync();
        ToastService.ShowSuccess("Pedido guardado correctamente");
    }

    private async Task EliminarArticulo()
    {
        AuxArticulos = await ArticuloService.ObtenerArticulosAsync();
        ToastService.ShowSuccess("El pedido ha sido eliminado correctamente");
    }
}