@page "/consulta"
@attribute [Authorize]
@rendermode InteractiveServer

@using OptiSoftBlazor.Shared.Data
@using OptiSoftBlazor.Shared.Pages.Shared
@using OptiSoftBlazor.Shared.Services

@inject ConsultaService ConsultaService
@inject ClienteService ClienteService
@inject PersonalService PersonalService
@inject CompraService CompraService

<PageTitle>Consulta</PageTitle>

<LoadingSpinner @bind-Visible="IsLoading" />

<style>
    .fluent-dialog-main {
        --dialog-width: 850px !important;
        --dialog-max-height: 80vh !important;
    }

    @@media (max-width: 600px) {
        .fluent-dialog-main {
            --dialog-width: 90% !important;
            --dialog-max-height: 80vh !important;
        }
    }
</style>

@if (!IsFirstRender)
{
    <div class="nueva-fila">
        <FluentButton Appearance="Appearance.Accent" OnClick="@AddConsulta" IconStart="@(new Icons.Filled.Size20.AddCircle())">Nuevo</FluentButton>
    </div>
}

@if (!(ListConsultas == null))
{
    <FluentCard AreaRestricted="false" Style="max-height: 78vh; padding: 0.5em 2em">
        <FluentDataGrid Items="ListConsultas"
                        TGridItem="Consulta"
                        Pagination="@pagination"
                        AutoFit=true
                        ShowHover=true
                        DisplayMode="DataGridDisplayMode.Table"
                        OnRowClick="@(args => OnRowClicked(args.Item))">
            <PropertyColumn Property="tbl => tbl.Cliente.Nombre" Title="Cliente" Sortable="true" />
            <PropertyColumn Property="tbl => tbl.Pedido.Numero" Title="N° Pedido" Sortable="true" />
            <PropertyColumn Property="tbl => tbl.Profesional.Nombre" Title="Profesional" Sortable="true" />
            <PropertyColumn Property="tbl => tbl.Fecha" Title="Fecha" Sortable="true" Format="dd/MM/yyyy" />
        </FluentDataGrid>
    </FluentCard>
}

<ConsultaDiag Hidden="@Hidden"
              Consulta="ConsultaSeleccionada"
              HiddenChanged="@(v => Hidden = v)"
              Clientes="@Clientes"
              Personales="@Personales"
              Pedidos="@Pedidos"
              OnGuardar="GuardarConsulta"
              OnEliminar="EliminarConsulta" />

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private List<Consulta>? consultas = new();
    bool Hidden = true;
    private List<Cliente> Clientes = new();
    private List<Personal> Personales = new();
    private List<Compra> Pedidos = new();
    bool IsFirstRender = true;
    private Consulta? ConsultaSeleccionada;
    private IQueryable<Consulta>? ListConsultas;

    private bool IsLoading { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        try
        {
            IsLoading = true;
            StateHasChanged();
            consultas = await ConsultaService.ObtenerConsultasAsync();
            ListConsultas = consultas.AsQueryable();
        }
        catch (Exception ex)
        {
            ToastService.ShowError("Error al cargar los datos.", 5000);
            Console.WriteLine($"Error al cargar los datos: {ex}");
        }
        finally
        {
            IsFirstRender = false;
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task AddConsulta()
    {
        IsLoading = true;
        StateHasChanged();

        Clientes = await ClienteService.ObtenerClienteAsync();
        Personales = await PersonalService.ObtenerPersonalAsync();
        Pedidos = await CompraService.ObtenerPedidosAsync();
        ConsultaSeleccionada = null; // Nueva consulta
        Hidden = false;

        IsLoading = false;
        StateHasChanged();
    }

    private async Task GuardarConsulta(Consulta consulta)
    {
        ToastService.ShowSuccess("Consulta guardada correctamente");

        consultas = await ConsultaService.ObtenerConsultasAsync();
        ListConsultas = consultas.AsQueryable();
    }

    private async Task EliminarConsulta()
    {
        ToastService.ShowSuccess("La consulta ha sido eliminada correctamente");

        consultas = await ConsultaService.ObtenerConsultasAsync();
        ListConsultas = consultas.AsQueryable();
    }

    private async Task OnRowClicked(Consulta consulta)
    {
        IsLoading = true;
        StateHasChanged();

        Clientes = await ClienteService.ObtenerClienteAsync();
        Personales = await PersonalService.ObtenerPersonalAsync();
        Pedidos = await CompraService.ObtenerPedidosAsync();
        ConsultaSeleccionada = consulta;
        Hidden = false;

        IsLoading = false;
        StateHasChanged();
    }
}
