@page "/consulta"
@attribute [Authorize(Policy = "RequirePasswordChanged")]
@rendermode InteractiveServer

@using OptiSoftBlazor.Shared.Data
@using OptiSoftBlazor.Shared.Helpers
@using OptiSoftBlazor.Shared.Pages.Shared
@using OptiSoftBlazor.Shared.Pages.Optica.Shared
@using OptiSoftBlazor.Shared.Services

@inject ConsultaService ConsultaService
@inject ClienteService ClienteService
@inject PersonalService PersonalService
@inject CompraService CompraService
@inject IJSRuntime JS

<style>
    .autocomplete-opti fluent-anchored-region {
        min-width: 600px;
        max-width: 600px;
    }
</style>

<PageTitle>Consulta</PageTitle>

<LoadingSpinner @bind-Visible="IsLoading" />

@if (!IsFirstRender)
{
    <div class="nueva-fila">
        @if (Permisos.CanCreate("/consulta"))
        {
            <FluentButton Appearance="Appearance.Accent" OnClick="AddConsulta" IconStart="@(new Icons.Filled.Size20.AddCircle())" Style="margin-right: 3em">Nuevo</FluentButton>
        }

        <FluentTextField Placeholder="Buscar por cliente, profesional o pedido..."
                         Style="width: 300px; margin-right: 1em;"
                         AutoComplete="off"
                         @bind-Value="TextoBusqueda"
                         @bind-Value:after="FiltrarConsultas" />

        <FluentButton Appearance="Appearance.Accent" OnClick="LimpiarFiltro" IconStart="@(new Icons.Filled.Size20.FilterDismiss())" Disabled="@(string.IsNullOrEmpty(TextoBusqueda))" />
    </div>
}

@if (!(ListConsultas == null))
{
    <FluentCard AreaRestricted="false" Class="data-grid-table" Style="max-height: 80vh; padding: 0.5em;">
        <FluentDataGrid Items="ListConsultas"
                        TGridItem="Consulta"
                        Pagination="@pagination"
                        AutoFit=true
                        ShowHover=true
                        DisplayMode="DataGridDisplayMode.Table"
                        OnRowClick="@(args => OnRowClicked(args.Item ?? new()))">
            <PropertyColumn Property="tbl => tbl.Fecha" Title="Fecha" Sortable="true" Format="dd/MM/yyyy" Align="Align.Center" IsDefaultSortColumn InitialSortDirection="SortDirection.Descending" />
            <PropertyColumn Property="tbl => tbl.Cliente!.Nombre" Title="Cliente" Sortable="true" Align="Align.Center" />
            <PropertyColumn Property="tbl => tbl.PedidoNumero" Title="N° Pedido" Sortable="true" Align="Align.Center" />
            <PropertyColumn Property="tbl => tbl.Profesional!.Nombre" Title="Profesional" Sortable="true" Align="Align.Center" />
        </FluentDataGrid>
        @if (ListConsultas.Count() > pagination.ItemsPerPage)
        {
            <FluentPaginator State="pagination" Style="padding: 0.5em 2em;" />
        }
    </FluentCard>
}

@if (!HiddenConsulta)
{
    <ConsultaDiag HiddenConsulta="@HiddenConsulta"
                  Consulta="ConsultaSeleccionada"
                  HiddenConsultaChanged="@(v => HiddenConsulta = v)"
                  Clientes="@Clientes"
                  Personales="@Personales"
                  Pedidos="@Pedidos"
                  OnGuardar="GuardarConsulta"
                  OnEliminar="EliminarConsulta" />
}

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private List<Consulta>? consultas = new();
    private List<Consulta>? consultasFiltradas = new();
    bool HiddenConsulta = true;
    private List<Cliente> Clientes = new();
    private List<Personal> Personales = new();
    private List<Compra> Pedidos = new();
    bool IsFirstRender = true;
    private Consulta? ConsultaSeleccionada;
    private IQueryable<Consulta>? ListConsultas;
    private string? TextoBusqueda;

    private bool IsLoading { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        if (!Permisos.CanView("/consulta"))
            NavManager.NavigateTo("/noaccess");

        await JS.InvokeVoidAsync("translateFluentLabels");

        try
        {
            IsLoading = true;
            StateHasChanged();
            consultas = await ConsultaService.ObtenerConsultasAsync();
            consultasFiltradas = new List<Consulta>(consultas);
            Clientes = await ClienteService.ObtenerClienteAsync(); //Cambiar clientes para que no cargue al inicio, mejor al querer abrir la consulta
            ListConsultas = consultasFiltradas.AsQueryable();
        }
        catch (Exception ex)
        {
            ToastService.ShowError("Error al cargar los datos.", 5000);
            Console.WriteLine($"Error al cargar los datos: {ex}");
        }
        finally
        {
            IsFirstRender = false;
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task AddConsulta()
    {
        await CargarDatos();

        ConsultaSeleccionada = null; // Nueva consulta
        HiddenConsulta = false;
        StateHasChanged();
    }

    private async Task GuardarConsulta(Consulta consulta)
    {
        consultas = await ConsultaService.ObtenerConsultasAsync();
        consultasFiltradas = new List<Consulta>(consultas);
        ListConsultas = consultasFiltradas.AsQueryable();
        ToastService.ShowSuccess("Consulta guardada correctamente");
    }

    private async Task EliminarConsulta()
    {
        consultas = await ConsultaService.ObtenerConsultasAsync();
        consultasFiltradas = new List<Consulta>(consultas);
        ListConsultas = consultasFiltradas.AsQueryable();
        ToastService.ShowSuccess("La consulta ha sido eliminada correctamente");
    }

    private async Task OnRowClicked(Consulta consulta)
    {
        if (consulta.IdConsulta <= 0)
            return;

        await CargarDatos();

        ConsultaSeleccionada = consulta;
        HiddenConsulta = false;
        StateHasChanged();
    }

    private void LimpiarFiltro()
    {
        TextoBusqueda = null;
        FiltrarConsultas();
    }

    private void FiltrarConsultas()
    {
        if (consultas == null)
            return;

        if (string.IsNullOrWhiteSpace(TextoBusqueda))
        {
            consultasFiltradas = new List<Consulta>(consultas);
        }
        else
        {
            var texto = TextoBusqueda.Trim().ToLower();

            consultasFiltradas = consultas
                .Where(p =>
                    (!string.IsNullOrEmpty(p.Cliente?.Nombre) && p.Cliente.Nombre.ToLower().Contains(texto)) ||
                    (!string.IsNullOrEmpty(p.Profesional?.Nombre) && p.Profesional.Nombre.ToLower().Contains(texto)) ||
                    (!string.IsNullOrEmpty(p.PedidoNumero) && p.PedidoNumero.ToLower().Contains(texto))
                )
                .ToList();
        }

        ListConsultas = consultasFiltradas.AsQueryable();
        StateHasChanged();
    }

    private async Task CargarDatos()
    {
        try
        {
            IsLoading = true;
            StateHasChanged();

            if (!Clientes.Any())
                Clientes = await ClienteService.ObtenerClienteAsync();

            if (!Pedidos.Any())
                Pedidos = await CompraService.ObtenerPedidosAsync();

            if (!Personales.Any())
                Personales = await PersonalService.ObtenerPersonalAsync();
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al cargar datos: {ex.Message}", 5000);
        }
        finally
        {
            IsLoading = false;
            StateHasChanged();
        }
    }
}