@page "/pedido"
@attribute [Authorize(Policy = "RequirePasswordChanged")]
@rendermode InteractiveServer

@using OptiSoftBlazor.Shared.Data
@using OptiSoftBlazor.Shared.Helpers
@using OptiSoftBlazor.Shared.Pages.Shared
@using OptiSoftBlazor.Shared.Pages.Optica.Shared
@using OptiSoftBlazor.Shared.Services

@inject CompraService CompraService
@inject ClienteService ClienteService
@inject ArticuloService ArticuloService
@inject DetCompraService DetCompraService
@inject IJSRuntime JS

<PageTitle>Pedido</PageTitle>

<LoadingSpinner @bind-Visible="IsLoading" />

@if (!IsFirstRender)
{
    <div class="nueva-fila">
        @if (Permisos.CanCreate("/pedido"))
        {
            <FluentButton Appearance="Appearance.Accent" OnClick="@AddPedido" IconStart="@(new Icons.Filled.Size20.AddCircle())" Style="margin-right: 3em">Nuevo</FluentButton>
        }

        <FluentTextField Placeholder="Buscar por cliente o número..."
                         Style="width: 300px; margin-right: 1em;"
                         @bind-Value="TextoBusqueda"
                         @bind-Value:after="FiltrarPedidos" />

        <FluentButton Appearance="Appearance.Accent" OnClick="LimpiarFiltro" IconStart="@(new Icons.Filled.Size20.FilterDismiss())" Disabled="@(string.IsNullOrEmpty(TextoBusqueda))" />
    </div>
}

@if (!(ListPedidos == null))
{
    <FluentCard AreaRestricted="false" Class="data-grid-table" Style="max-height: 80vh; padding: 0.5em;">
        <FluentDataGrid Items="ListPedidos"
                        TGridItem="Compra"
                        Pagination="@pagination"
                        AutoFit=true
                        ShowHover=true
                        DisplayMode="DataGridDisplayMode.Table"
                        OnRowClick="@(args => OnRowClicked(args?.Item ?? new Compra()))">
            <PropertyColumn Property="tbl => tbl.Fecha" Title="Fecha" Sortable="true" Format="dd/MM/yyyy" Align="Align.Center" IsDefaultSortColumn InitialSortDirection="SortDirection.Descending" />
            <PropertyColumn Property="tbl => tbl.Numero" Title="Número" Sortable="true" Align="Align.Center" />
            <PropertyColumn Property="tbl => tbl.Cliente!.Nombre" Title="Cliente" Sortable="true" Align="Align.Center" />
            <PropertyColumn Property="tbl => tbl.Laboratorio" Title="Laboratorio" Sortable="false" Align="Align.Center" />
            <TemplateColumn Title="Estado" Sortable="true">
                <ChildContent Context="tbl">
                    @(tbl.Finalizado ? "Finalizado" : "Pendiente")
                </ChildContent>
            </TemplateColumn>
        </FluentDataGrid>
        @if (ListPedidos.Count() > pagination.ItemsPerPage)
        {
            <FluentPaginator State="pagination" Style="padding: 0.5em 2em;" />
        }
    </FluentCard>
}

@if (!HiddenPedido)
{
    <PedidoDiag HiddenPedido="@HiddenPedido"
                Compra="PedidoSeleccionado"
                Clientes="Clientes"
                HiddenPedidoChanged="@(v => HiddenPedido = v)"
                DetCompras="ListDetCompras"
                OnGuardar="GuardarPedido"
                OnEliminar="EliminarPedido"/>
}

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private List<Compra>? pedidos = new();
    private List<Compra>? pedidosFiltrados = new();
    bool HiddenPedido = true;
    private List<DetCompra>? ListDetCompras;
    bool IsFirstRender = true;
    private Compra? PedidoSeleccionado;
    private IQueryable<Compra>? ListPedidos;
    private List<Cliente> Clientes { get; set; } = new();
    private string? TextoBusqueda;

    private bool IsLoading { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        if (!Permisos.CanView("/pedido"))
            NavManager.NavigateTo("/noaccess");

        await JS.InvokeVoidAsync("translateFluentLabels");

        try
        {
            IsLoading = true;
            StateHasChanged();
            pedidos = await CompraService.ObtenerPedidosAsync();
            pedidosFiltrados = new List<Compra>(pedidos);
            ListPedidos = pedidosFiltrados.AsQueryable();
        }
        catch (Exception ex)
        {
            ToastService.ShowError("Error al cargar los datos.", 5000);
            Console.WriteLine($"Error al cargar los datos: {ex}");
        }
        finally
        {
            IsFirstRender = false;
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task AddPedido()
    {
        IsLoading = true;
        StateHasChanged();

        Clientes = await ClienteService.ObtenerClienteAsync();
        PedidoSeleccionado = null;
        HiddenPedido = false;

        IsLoading = false;
        StateHasChanged();
    }

    private async Task GuardarPedido(Compra pedido)
    {
        pedidos = await CompraService.ObtenerPedidosAsync();
        pedidosFiltrados = new List<Compra>(pedidos);
        ListPedidos = pedidosFiltrados.AsQueryable();
        ToastService.ShowSuccess("Pedido guardado correctamente.");
    }

    private async Task EliminarPedido()
    {
        pedidos = await CompraService.ObtenerPedidosAsync();
        pedidosFiltrados = new List<Compra>(pedidos);
        ListPedidos = pedidosFiltrados.AsQueryable();
        ToastService.ShowSuccess("El pedido ha sido eliminado correctamente");
    }

    private async Task OnRowClicked(Compra compra)
    {
        if (compra.IdCompra <= 0)
            return;

        IsLoading = true;
        StateHasChanged();

        Clientes = await ClienteService.ObtenerClienteAsync();
        ListDetCompras = await DetCompraService.ObtenerDetComprasAsync(compra.IdCompra);
        PedidoSeleccionado = compra;

        HiddenPedido = false;
        IsLoading = false;
        StateHasChanged();
    }

    private void LimpiarFiltro()
    {
        TextoBusqueda = null;
        FiltrarPedidos();
    }

    private void FiltrarPedidos()
    {
        if (pedidos == null)
            return;

        if (string.IsNullOrWhiteSpace(TextoBusqueda))
        {
            pedidosFiltrados = new List<Compra>(pedidos);
        }
        else
        {
            var texto = TextoBusqueda.Trim().ToLower();

            pedidosFiltrados = pedidos
                .Where(p =>
                    (!string.IsNullOrEmpty(p.Numero) && p.Numero.ToLower().Contains(texto)) ||
                    (!string.IsNullOrEmpty(p.Cliente?.Nombre) && p.Cliente.Nombre.ToLower().Contains(texto))
                )
                .ToList();
        }

        ListPedidos = pedidosFiltrados.AsQueryable();
        StateHasChanged();
    }
}
