@using OptiSoftBlazor.Shared.Data
@using OptiSoftBlazor.Shared.Data.Users
@using OptiSoftBlazor.Shared.Helpers
@using OptiSoftBlazor.Shared.Pages.Shared

@inject PersonalService PersonalService
@inject UsuariosService UsuariosService
@inject IJSRuntime JS

<style>
    .fluent-dialog-main {
        --dialog-width: 800px !important;
        --dialog-max-height: 90vh !important;
    }

    @@media (max-width: 600px) {
        .fluent-dialog-main {
            --dialog-width: 90% !important;
            --dialog-max-height: 90vh !important;
        }
    }
</style>

<LoadingSpinner @bind-Visible="IsLoading" />

<FluentDialog Modal="true" @bind-Hidden="Hidden">
    <FluentHeader>
        <h3>@(User == null ? "Nuevo Usuario" : "Editar Usuario")</h3>
    </FluentHeader>

    <FluentDialogBody Style="overflow-y: auto; max-height: calc(80vh - 120px);">
        <div style="padding: 1em;">
            <div class="nueva-fila" style="margin-bottom: 0;">
                <div class="columna-flex">
                    <FluentTextField @bind-Value="UserName"
                                     Label="Usuario"
                                     Placeholder="Ingrese el usuario" />
                </div>
            </div>
            <div class="nueva-fila" style="margin-bottom: 0;">
                <div class="columna-flex" style="padding-top: 1em;">
                    <FluentAutocomplete Label="Personal"
                                        Items="@Personals"
                                        TOption="Personal"
                                        Placeholder="Seleccione un personal"
                                        Class="autocomplete-opti"
                                        @bind-SelectedOption="UserPersonal"
                                        OptionText="@(c => c.Nombre)"
                                        Virtualize="true"
                                        Multiple="false"
                                        MaximumSelectedOptions="1"
                                        MaximumOptionsSearch="int.MaxValue"
                                        Position="SelectPosition.Below" />
                </div>
            </div>
            <div class="fila-flex" style="gap: 1em !important;">
                <div class="columna-flex" style="min-width: 58%; max-width: 58%; padding-top: 1em; margin-bottom: 0;">
                    <FluentTextField @bind-Value="Password"
                                     Label="Contraseña"
                                     @bind-Value:after="ValidarForPassCh"
                                     Placeholder="Genere una contraseña" />
                </div>
                <div class="columna-flex" style="min-width: 8%; max-width: 8%; padding-top: 1em; margin-right: 0;">
                    <FluentButton Appearance="Appearance.Accent"
                                  OnClick="CopiarPassword"
                                  Style="margin-top: 1.7em;"
                                  Disabled="@(string.IsNullOrEmpty(Password))"
                                  IconStart="@(new Icons.Filled.Size20.Copy())" />
                </div>
                <div class="columna-flex" style="min-width: 8%; max-width: 8%; padding-top: 1em; margin-right: 0;">
                    <FluentButton Appearance="Appearance.Accent"
                                  OnClick="GenerarContraseña"
                                  Style="margin-top: 1.7em;"
                                  IconStart="@( User == null ? new Icons.Filled.Size20.PersonKey() : new Icons.Filled.Size20.KeyReset())" />
                </div>
                <div class="columna-flex" style="min-width: 20%; max-width: 20%; padding-top: 1em; margin-bottom: 0; align-items: center;">
                    <label class="form-label" style="font-weight: 600; margin-top: 0.7em;">Cambiar Contraseña</label>
                    <FluentCheckbox @bind-Value="ForcePasswordChange" Disabled="DisabledForPassCh" />
                </div>
            </div>

            @*<FluentCard AreaRestricted="false" Class="data-grid-table" Style="margin-top: 1.5em; padding: 0.5em;">
                <div class="column-flex">
                    <FluentButton Appearance="Appearance.Accent"
                                  OnClick="AgregarRol"
                                  IconStart="@(new Icons.Filled.Size20.AddCircle())"
                                  Style="margin: 1em;">
                        Agregar Artículo
                    </FluentButton>
                </div>
            </FluentCard>*@
        </div>
    </FluentDialogBody>

    <FluentFooter Style="gap:1em">
        <FluentButton Appearance="Appearance.Stealth"
                      OnClick="Cancelar"
                      IconStart="@(new Icons.Filled.Size20.DismissCircle())">
            Cancelar
        </FluentButton>

        @if (User != null || !string.IsNullOrWhiteSpace(User?.Id))
        {
            <FluentButton Class="btn-danger"
                          Appearance="Appearance.Neutral"
                          OnClick="Eliminar">
                <FluentIcon Value="@(new Icons.Filled.Size20.Delete())" Color="Color.Neutral" Slot="start" />
                Eliminar
            </FluentButton>
        }

        <FluentButton Appearance="Appearance.Accent"
                      OnClick="Guardar"
                      IconStart="@(new Icons.Filled.Size20.Save())">
            Guardar
        </FluentButton>
    </FluentFooter>
</FluentDialog>

@code {
    [Parameter] public ApplicationUser? User { get; set;}
    [Parameter] public bool Hidden { get; set; }
    [Parameter] public EventCallback<bool> HiddenChanged { get; set; }
    [Parameter] public List<Personal>? Personals { get; set; }
    [Parameter] public EventCallback OnGuardar { get; set; }
    [Parameter] public EventCallback OnEliminar { get; set; }

    private bool IsLoading = false;

    private string? UserName;
    private string? Password;
    private Personal? UserPersonal;
    private bool ForcePasswordChange = false;
    private bool DisabledForPassCh = false;

    protected override void OnParametersSet()
    {
        if (User != null)
        {
            UserName = User.UserName;
            UserPersonal = Personals?
                .FirstOrDefault(p => p.IdPersonal == User.idPersonal);
            ForcePasswordChange = User.ForcePasswordChange;
        }
        else
        {
            Limpiar();
        }
    }

    private async Task Guardar()
    {
        var user = User ?? new ApplicationUser();

        user.UserName = UserName;
        user.PasswordHash = Password;
        user.idPersonal = UserPersonal?.IdPersonal;
        user.ForcePasswordChange = ForcePasswordChange;

        bool isValido = true;

        try
        {
            IsLoading = true;
            StateHasChanged();

            if (string.IsNullOrEmpty(user.UserName))
            {
                if (string.IsNullOrWhiteSpace(user.UserName))
                    ToastService.ShowError("El nombre de usuario no puede contener espacios.", 5000);
                else
                    ToastService.ShowError("Debe ingresar un nombre de usuario.", 5000);

                isValido = false;
            }

            if (!user!.UserName!.EndsWith("@" + TenantInfo.GetTenantName()))
            {
                ToastService.ShowError("Hace falta el nombre del tenant de su empresa.", 5000);
                isValido = false;
            }

            if (!isValido)
                return;

            await UsuariosService.GuardarUsuarioAsync(user);

            await OnGuardar.InvokeAsync();
            await Cancelar();
            Limpiar();
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al guardar al usuario: {ex.Message}");
            Console.WriteLine($"Error al guardar al usuario: {ex}");
        }
        finally
        {
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task Eliminar()
    {
        if (User == null || string.IsNullOrWhiteSpace(User.Id))
        {
            ToastService.ShowWarning("No hay un usuario válido para eliminar.", 4000);
            return;
        }

        var confirmado = await ConfirmService.ConfirmAsync("¿Está seguro de eliminar este usuario?");
        if (!confirmado)
            return;

        try
        {
            IsLoading = true;
            StateHasChanged();

            await UsuariosService.EliminarUsuarioAsync(User.Id);

            await OnEliminar.InvokeAsync();
            await Cancelar();
            Limpiar();
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al eliminar al usuario: {ex.Message}", 6000);

        }
        finally
        {
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task Cancelar()
    {
        Limpiar();
        Hidden = true;
        await HiddenChanged.InvokeAsync(Hidden);
    }

    private void GenerarContraseña()
    {
        const string uppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        const string lowercase = "abcdefghijklmnopqrstuvwxyz";
        const string numbers = "0123456789";
        const string symbols = "!@#$%&*()-_=+.?";

        var random = new Random();
        var password = new char[8];

        password[0] = uppercase[random.Next(uppercase.Length)];
        password[1] = lowercase[random.Next(lowercase.Length)];
        password[2] = numbers[random.Next(numbers.Length)];
        password[3] = symbols[random.Next(symbols.Length)];

        var allChars = uppercase + lowercase + numbers + symbols;
        for (int i = 4; i < password.Length; i++)
        {
            password[i] = allChars[random.Next(allChars.Length)];
        }

        Password = new string(password.OrderBy(x => random.Next()).ToArray());

        ForcePasswordChange = true;
        DisabledForPassCh = true;
        StateHasChanged();
    }

    private async Task CopiarPassword()
    {
        if (!string.IsNullOrEmpty(Password))
        {
            await JS.InvokeVoidAsync("navigator.clipboard.writeText", Password);
            ToastService.ShowSuccess("Contraseña copiada en portapapeles.", 5000);
        }
        else
        {
            ToastService.ShowInfo("No hay contraseña para copiar.", 5000);
        }
    }

    private void Limpiar()
    {
        UserName = null;
        Password = null;
        UserPersonal = null;
        User = null;
        Personals = null;
        ForcePasswordChange = false;
    }

    private void AgregarRol()
    {
        ToastService.ShowInfo("NO esta agregada la funcion para agregar rol", 5000);
    }

    private void ValidarForPassCh()
    {
        if (!string.IsNullOrEmpty(Password))
            return;

        ForcePasswordChange = false;
        DisabledForPassCh = false;
    }
}
