@page "/users"
@attribute [Authorize]
@rendermode InteractiveServer

@using OptiSoftBlazor.Shared.Data
@using OptiSoftBlazor.Shared.Data.Users
@using OptiSoftBlazor.Shared.Pages.Shared
@using OptiSoftBlazor.Shared.Pages.Users.Shared

@inject UsuariosService UsuariosService
@inject PersonalService PersonalService
@inject IJSRuntime JS

<PageTitle>Usuarios</PageTitle>

<LoadingSpinner @bind-Visible="IsLoading" />

@if (!IsFirstRender)
{
	<div class="nueva-fila">
		<FluentButton Appearance="Appearance.Accent" OnClick="@AddUser" IconStart="@(new Icons.Filled.Size20.AddCircle())">Nuevo</FluentButton>
	</div>
}

@if (ListUser != null)
{
	<FluentCard AreaRestricted="false" Class="data-grid-table" Style="max-height: 82vh; padding: 0.5em;">
		<FluentDataGrid Items="ListUser"
						TGridItem="ApplicationUser"
						Pagination="@pagination"
						AutoFit="true"
						ShowHover="true"
						DisplayMode="DataGridDisplayMode.Table"
						OnRowClick="@(args => OnRowClicked(args?.Item ?? new ApplicationUser()))">
			<PropertyColumn Property="a => a.UserName" Title="Usuario" Sortable="true" Align="Align.Center" IsDefaultSortColumn />
			<PropertyColumn Property="a => a.NombrePersonal" Title="Personal" Sortable="true" Align="Align.Center" />
			<TemplateColumn Title="Cambiar Contraseña" Sortable="true" Align="Align.Center">
				<ChildContent Context="tbl">
					<FluentCheckbox Checked="@tbl.ForcePasswordChange" Disabled="true" />
				</ChildContent>
			</TemplateColumn>
		</FluentDataGrid>
		@if (ListUser.Count() > pagination.ItemsPerPage)
		{
			<FluentPaginator State="pagination" Style="padding: 0.5em 2em;" />
		}
	</FluentCard>
}

@if (!Hidden)
{
	<UserDiag Hidden="@Hidden"
			  HiddenChanged="@(v => Hidden = v)"
			  User="UserSeleccionado"
			  Personals="Personals"
			  OnGuardar="GuardarUsuario"
			  OnEliminar="EliminarUsuario" />
}

@code {
	private bool IsLoading = false;
	private bool IsFirstRender = true;
	private bool Hidden = true;

	PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

	private IQueryable<ApplicationUser>? ListUser;
	private List<ApplicationUser>? AuxUser = new();
	private ApplicationUser? UserSeleccionado;
	private List<Personal>? Personals = new();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender)
			return;

		await JS.InvokeVoidAsync("translateFluentLabels");

		try
		{
			IsLoading = true;
			StateHasChanged();
			AuxUser = await UsuariosService.ObtenerUsuariosAsync();
			ListUser = AuxUser.AsQueryable();
		}
		catch (Exception ex)
		{
			ToastService.ShowError($"Error al cargar los datos. {ex.Message}", 5000);
		}
		finally
		{
			IsLoading = false;
			IsFirstRender = false;
			StateHasChanged();
		}

		IsFirstRender = false;
	}

	private async Task AddUser()
	{
		await CargarPersonal();
		UserSeleccionado = null;
		Hidden = false;
		StateHasChanged();
	}

	private async Task CargarPersonal()
	{
		try
		{
			IsLoading = true;
			StateHasChanged();

			Personals = await PersonalService.ObtenerPersonalAsync();
		}
		catch (Exception ex)
		{
			ToastService.ShowError($"Error al cargar datos del personal: {ex}", 5000);
		}
		finally
		{
			IsLoading = false;
			StateHasChanged();
		}
	}

	private async Task OnRowClicked(ApplicationUser user)
	{
		if (string.IsNullOrEmpty(user.UserName))
			return;

		await CargarPersonal();
		UserSeleccionado = user;
		Hidden = false;
		StateHasChanged();
	}

	private async Task GuardarUsuario()
	{
		AuxUser = await UsuariosService.ObtenerUsuariosAsync();
		ListUser = AuxUser.AsQueryable();
		UserSeleccionado = null;
		ToastService.ShowSuccess("Usuario guardado correctamente.");
	}

	private async Task EliminarUsuario()
	{
		AuxUser = await UsuariosService.ObtenerUsuariosAsync();
		ListUser = AuxUser.AsQueryable();
		UserSeleccionado = null;
		ToastService.ShowSuccess("Usuario eliminado correctamente");
	}
}
